p {
    text-align: center;
    
}
h1 {
    color:mediumblue;
    text-align: center;

}

h2 {
    text-align: center;
}

strong {
    color:blue
}

body {
    background-image: url(https://i.redd.it/2y87ks0807b61.jpg) ;
    background:#cccccc ; 
}