p {
    text-align: center;
    
}
h1 {
    color:mediumblue;
    text-align: center;

}


strong {
    color:blue
}

body {
    text-align: center;
    background-image: url(https://aventurasnahistoria.uol.com.br/media/_versions/hard_news/ricardo_milos_widelg.jpg) ;
    background:#cccccc ; 
}