p {
    text-align: center;
    
}
h1 {
    color:mediumblue;
    text-align: center;

}

h2 {
    text-align: center;
}

strong {
    color:blue
}

body {
    background:#cccccc ; 
}

img { 
    text-align: center;
}

.banner {
    width:100%;
}

.beneficios {
    background:#FFFFFF;
    padding:20px ;
}

.imagembeneficios {
    text-align:center;
    width:50%;
}